@font-face {
  font-family: SFProText;
  src: url(../assets/fonts/SF-Pro-Text-Bold.otf); format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: SFProText;
  src: url(../assets/fonts/SF-Pro-Text-Medium.otf); format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: SFProText;
  src: url(../assets/fonts/SF-Pro-Text-Semibold.otf); format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: SFProDisplay;
  src: url(../assets/fonts/SF-Pro-Display-Bold.otf); format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: SFProDisplay;
  src: url(../assets/fonts/SF-Pro-Display-Medium.otf); format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: SFProDisplay;
  src: url(../assets/fonts/SF-Pro-Display-Semibold.otf); format('opentype');
  font-weight: 600;
}
