.testing-border {
  border: 1px solid red;
}

.empty-class {

}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontally-centered-element {
  margin: 0 auto;
}

.vertically-centered-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.vertically-centered-element {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.bottom-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: $right-sidebar-padding;
  padding-left: $right-sidebar-padding;
  padding-bottom: $right-sidebar-padding;
}

.bottom-content-lines {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.bottom-content-values {
  text-align: right;
  font-weight: bold;
}

.bottom-button {
  padding: 15px;
  height: 65px;
  color: white;
  background-color: $strong-blue;
  border-radius: $navbar-border-radius;
  font-size: 1.125em;
  font-weight: bold;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}

.right-sidebar-list-title {
  font-weight: 500;
  font-size: 1.25em;
  color: $right-sidebar-text-color;
}