$card-table-main-content-font-size: 1.5em;
$card-table-main-content-font-weight: bold;
$card-table-main-content-text-align: center;

$card-table-footer-font-size: 0.8em;

$card-border-radius: 6px;

$right-sidebar-width: 375px;
$right-sidebar-padding: 30px;
$right-sidebar-text-color: #2f3447;

$toolbar-content-padding-y: 0;
$toolbar-content-padding-x: 0;

$navbar-border-radius: 20px;
$navbar-height: 90px;

$main-content-padding: 80px;

$table-card-margin: 80px;
$table-card-size: 125px;

$menu-card-size: 190px;
$menu-card-margin: 65px;

$submenu-card-margin: 25px;

:export {
  rightSidebarWidth: $right-sidebar-width;
  rightSidebartextColor: $right-sidebar-text-color;
  navbarHeight: $navbar-height;
}